{% extends "layout.html" %}

{% block main %}
    <table class="table">
        <tr>
            <th>Goal description</th>
            <th>Remaining</th>
            <th>Invested</th>
            <th>Status</th>
        </tr>
        {% for row in goals %}
        <tr>
            <td>{{ row["description"] }}</td>
            <td>{{ row["remaining"] }}</td>
            <td>{{ row["invested"] }}</td>
            <td>{{ row["status"] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
