/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* Your CSS stylesheet */
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.header-cell {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.footer-cell {
    font-weight: bold;
}
